<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link n Connect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if 'name' in session %}
            <li><a href="{{ url_for('room') }}">Chat Room</a></li>
            {% endif %}
        </ul>
    </nav>
    <header>
        <img src="{{ url_for('static', filename='link-n-connect_logo-removebg-preview.png') }}" alt="Link n Connect Logo">
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
